body {
    background-image:url("/Users/Izzy/Desktop/week_5/unit_4_game/assets/images/flowers.jpg")
}

h1 {
    text-align:left;
    color:black;
    background-color:white;
    width:980px;
}

p {
    text-align:center;
    color:white;
    color:black;
    background-color:white;
}

#randomNumber {
    text-align:center;
    border:2px solid black; 
    margin:5px;
    padding:10px;
    color:black;
    background-color:white;
}

#column2 {
    text-align:center;
    border:2px solid black; 
    margin:0px;
    padding:10px;
    color:black;
    background-color:white;
}

#crystals {
    border:2px solid black;
    margin:5px;
}

#score {
    text-align:center;
    border:2px solid black;
    padding:10px;
    color:black;
    background-color:white;

}